$def with (input, action, description, fields, default_values, focus)
$var description: $description
$var focus: $focus
<div class="block">
  <h1>$description</h1>
  <form method="post" action="$action">
    <table>
    $for field in fields:
      <tr>
        <td><label for="$field.full_name()">$field.description</label></td>
        <td>
    		$if input.get('error_' + field.full_name(), False):
				<span class="errfield">
        	$:field.html_input(default_values)
    		$if input.get('error_' + field.full_name(), False):
				</span>
		</td>
      </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="$description"></td>
    </tr>
    </table>
    $if input.get('errmsg', False):
        <div class="errmsg">
        <p>$errmsg(input.errmsg)</p>
        </div>
  </form>
</div>
